body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 800px;
    height: 50vh;
}

#btnBack,
#btnNext {
    position: absolute;
    top: 50%;
}

#btnBack {
    left: 300px;
}

#btnNext {
    right: 300px;
}

.slide {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hidden {
    display: none;
}

.thumbBox{
    width: 100%;
    display: flex;
}

.thumb {
    display: block;
    opacity: 0.5;
    width: calc(100% / 5);
    height: 80px;
    object-fit: cover;
}

.activeThumb {
    opacity: 1;
    border: 2px solid red;
}